<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{% block title %}{% endblock title %}</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon" />
    <link
      href="static/assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="static/assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />
    <link
      href="static/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />

    <!-- Main CSS File -->
    <link href="static/assets/css/main.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Gp
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Updated: Jun 29 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  (we have to replace the assets to static/assets/..., so we can use a shortcut vscode where if we click crtl+h then we would get search bar where we can replace assets with static/assets.)
  ======================================================== -->
  </head>

  <body class="index-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between"
      >
        <a
          href="index.html"
          class="logo d-flex align-items-center me-auto me-lg-0"
        >
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="static/assets/img/logo.png" alt=""> -->
          <h1 class="sitename">San Maria Tunes</h1>
        </a>
        <nav id="navmenu" class="navmenu">
          <ul>
            <li>
              <a href="/" class="active">Home<br /></a>
            </li>
            <li><a href="#about">About</a></li>
            <li><a href="#team">Team</a></li>

{% if current_user.is_authenticated and current_user.Acode %}             
            <li class="dropdown"><a href="/signup"><span>Welcome {{current_user.email}}</span><i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="/addartistinfo">Add Artist Data</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>  
{% elif current_user.is_authenticated and current_user.name %} 
            <li class="dropdown"><a href="/signup"><span>Welcome {{current_user.email}}</span><i class="bi bi-chevron-down toggle-dropdown"></i></a> 
             <ul>
               <li><a href="/makeplaylist">Create Playlist</a></li>
               <li><a href="/addartistinfo">Add Artist Data</a></li>
               <li><a href="/logout">Logout</a></li>
             </ul>
             <li><a href="/bookconcert">Book Your Concert Tickets</a></li>
            </li> 

{% else %} 
           <li class="dropdown"><a href="#"><span>Sign In</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
             <ul>
               <li><a href="/userlogin">User Login</a></li>
               <li><a href="/admin">Admin Login</a></li>
               <li><a href="/artistlogin">Artist Login</a></li>
             </ul>
            </li> 
            {% endif %}

            
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        
      </div>
    </header>

    <main class="main">
      <!-- Hero Section -->
      <section id="hero" class="hero section dark-background">
        <img src="static/assets/img/hip.jpg" alt="" data-aos="fade-in" />
        
        

        <div class="container">
          <div
            class="row justify-content-center text-center"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="col-xl-6 col-lg-8">
              <h2>Manage artists, playlists, and concerts<span>.</span></h2>
              
            </div>
          </div>

          
        </div>
      </section>
      <!-- /Hero Section -->

      {% block body %} {% endblock body %}
    </main>




     <!-- About Section -->
     <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 order-2 order-lg-1 content">
            <h3>Music Management System - DBMS Project (Summer 2024 Semester)</h3>
            <p class="fst-italic">
              Our project for the summer 2024 semester is the Music Management System, designed to manage artist information, playlists, and concert bookings.
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>User Sign-up and Login: Users first sign up and then log in using their username and date of birth.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Admin Access: After logging in, users are assigned an artist code. Each artist code corresponds to a unique artist, allowing for registration of the artist's details.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Playlist Creation and Concert Booking: Once logged in, users can create playlists and book concert tickets, where they can perform CRUD operations such as create, read, update, and delete entries.</span></li>
            </ul>
            <p>
              We utilized Flask API for the backend and HTML, CSS, and Bootstrap templates for the frontend.
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->


    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>our Team</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Md. Mohaiminul Islam</h4>
                <span>Authentication and Artist Information CRUD</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          

          

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="static/assets/img/team/team-4.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Rifat Sanjida Maria</h4>
                <span>Playlist and Concert Booking CRUD</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->







    <footer id="footer" class="footer dark-background">
      <div class="footer-top">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
              <a href="index.html" class="logo d-flex align-items-center">
                <span class="sitename">San Maria Tunes</span>
              </a>
              <div class="footer-contact pt-3">
                <p>224 Progati Sarani Road</p>
                <p>Badda, Dhaka-1212</p>
                <p class="mt-3">
                  <strong>Phone:</strong> <span>02222-264051</span>
                </p>
                <p><strong>Email:</strong> <span>bracu-gened@bracu.ac.bd</span></p>
              </div>
              <div class="social-links d-flex mt-4">
                <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0"><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#"> Home</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#"> About us</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#"> Services</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#"> Terms of service</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#"> Privacy policy</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#"> Music Management</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#"> Playlist Creation</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#"> Booking Concert Tickets</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-12 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>
                Subscribe to our newsletter and receive the latest news about
                our products and services!
              </p>
              <form
                action="forms/newsletter.php"
                method="post"
                class="php-email-form"
              >
                <div class="newsletter-form">
                  <input type="email" name="email" /><input
                    type="submit"
                    value="Subscribe"
                  />
                </div>
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">
                  Your subscription request has been sent. Thank you!
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      
    </footer>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/php-email-form/validate.js"></script>
    <script src="static/assets/vendor/aos/aos.js"></script>
    <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>

    <!-- Main JS File -->
    <script src="static/assets/js/main.js"></script>
  </body>
</html>
