{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<!--begin::Alert-->
<div class="alert alert-{{category}} bg-light-danger d-flex flex-center flex-column py-4 px-6 mb-4" style="border-radius: 8px;">
    <!--begin::Close-->
    <button type="button" class="position-absolute top-0 end-0 m-2 btn btn-icon btn-icon-danger" data-bs-dismiss="alert" style="padding: 5px;">
        <i class="ki-duotone ki-cross fs-3"></i>
    </button>
    <!--end::Close-->

    <!--begin::Icon-->
    <i class="ki-duotone ki-information-5 fs-2 text-danger mb-2"></i>
    <!--end::Icon-->

    <!--begin::Wrapper-->
    <div class="text-center">
        <!--begin::Title-->
        <h4 class="fw-bold mb-3" style="color: red; font-size: 18px;">{{ message }}</h4>
        <!--end::Title-->

        <!--begin::Separator-->
        <div class="separator separator-dashed border-danger opacity-25 mb-3"></div>
        <!--end::Separator-->

        <!--begin::Content-->
        <!--end::Content-->

        <!--begin::Buttons-->
        <div class="d-flex flex-center flex-wrap">
            <a href="/" class="btn btn-outline btn-outline-danger btn-active-danger m-2" style="padding: 6px 12px;">Cancel</a>
            <a href="/" class="btn btn-danger m-2" style="padding: 6px 12px;">Ok, I got it</a>
        </div>
        <!--end::Buttons-->
    </div>
    <!--end::Wrapper-->
</div>
<!--end::Alert-->

{% endfor %}
{% endif %}
{% endwith %}
